*{
margin: 0px;
    padding: 0px;
    font-family: Century;
}
h1{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.header{
    background-image: linear-gradient(rgba());
    height: 100vh;
    background-size:cover;
    background-position: center;
    min-height: 100px;
}
ul{
    float:left;
    list-style-type: none ;
    min-height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 17px;

}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #afff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}
ul li a:hover{
    background-color: #afff;
    color: #0000;
}
section h2{
    text-align: center;
    margin-left: 25%;
}