header{
    text-align: center;
    font-family: "Bell MT";
    text-decoration: #ec0b0b;
}
nav li{
    float: left;
    display:inline-block;
    padding: 20px;
}
.content1{
    text-align-all: center;
}